.header {
	width: 100%;
	height: 100px;
}
.ourstory{
	float: left;
	width: 20%;
	text-align: center;
	
	margin-top: 30px;
	margin-left: 30px
}
.photo{
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 30px;
	
}
.logo{
	float:left;
	width: 16%;
	height: 80px;
	margin-left:10px;
	

}
.homework{
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 30px;
	
}
.list{
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 30px;
}
.storytitle{
	padding-top: 120px;
	text-align: center;
	font-size: 20px;
}
.story{
	padding-top: 20px;
	padding-right: 200px;
	padding-left: 220px;
	font-size: 25px;
	text-align: center;
}
.homeworkpage{
	width: 100%;
	height:500px;
}
.wikilogo{
	float: left;
	margin-left: 20px;
	width: 25%;
	height: 345px;

}
.dictionarylogo{
	width: 31.5%;
	height: 345px;
	float: left;
	padding-top: 130px;
	padding-left: 10px;

}
.taivslogo{
	width: 300px;
	height: 345px;
	float: left;
	padding-left: 20px;

}
.fishlogo{
	width: 230px;
	height: 345px;

	float: left;
	padding-top: 120px;
	padding-left: 30px;
}
.googletranslation{
	padding-left: 100px;
	padding-top: 50px;
	width: 340px;
	height: 200px;

	float: left;
}
.evernotelogo{
 width: 230px;
 height: 200px;
 float: left;

 
}
.dropboxlogo{
	width: 250px;
	height: 200px;
	float: left;
	padding-left: 30px;

}
.taivsclass{
	width: 200px;
	height:200px;
	float: left;
	text-align: center;
	font-size: 20px;
	padding-top: 100px;

}
.indexlogo{
	width: 250px;
	height: 200px;
	float: left;
	padding-left: 20px;
	padding-top: 30px;

}
.photobackground{
	padding-top: 150px;
	padding-left: 350px;

}
.phototype{
	text-align: center;
	font-size: 30px;

}
.photobackindex{
	text-align: center;
	font-size: 30px;
 	padding-top: 20px;
}

.googlecalender{
	float: left;
	padding-top: 80px;
	width:600px;
	height: 500px;
}
.schedule{
	width: 300px;
	height: 500px;
	padding-top: 80px;
 
  	float: left;
   
}

.first{
	background-color:yellow; 
}

table{
	width: 650px;
	height: 500px;
	border: 1px;
	padding-top: 200px;
}
tr{
	float: left;
	padding-left: 100px;
	height: 50px;
	width: 96%;
	
	
}
td{
	text-align: center;
	font-size: 15px;
	height: 50px;
	float: left;
	width: 80px;
	background-color: #FFFFFF
}
.padding{
	padding-top: 80px;
}
.backtoindex{
	padding-left: 900px;
	font-size:20px;
}
.month{
	float: left;
	padding-left: 20px;
}
.timenow{
	text-align: center;
}

.livemessage{
	width: 20%;
	padding-top:10px;
	font-size: 15px;
	padding-left: 80px;
}
.indeximage{
	width: 940px;
	padding-top: 10px;
	float: left;
	
}
.hello{
	padding-top: 80px;
}
body{
	background-image: url(background.png);
}