<div class="month"><script language="JavaScript" type="text/javascript" src="http://artsplanet.biz/js/bp044.js"></script><div class="timenow"><a href="https://play.google.com/store/apps/details?id=org.artsplanet.android.pesomemo" style="text-decoration:none" target="_blank"><font color="#805959" size="5" >現在時刻</font></a></div><noscript><img src="http://artsplanet.biz/data/images/pen.gif" alt="ブログパーツ"/><strong><a href="http://artsplanet.biz/">ブログパーツ</a></strong></noscript></div>
<h3 class="hello">你好，我們是綜高一愛，歡迎參觀我們的班級網頁。(最新公告及每日作業會放在<a href="list">行事曆</a>及<a href="http://www.tovery.net/guestbook.asp?user=a870225c&page=1">留言板</a>裡，請大家多加利用。</h3>
<div class="indeximage"><%= image_tag("indeximage.png") %></div>
<div class="livemessage "><a href="http://www.tovery.net/guestbook.asp?user=a870225c&page=1">留言板</a></div>

