
<div class="googlecalender"><iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=j62574ok7qaot3n466alrlkdp4%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Asia%2FTaipei" style=" border-width:0 " width="700" height="500" frameborder="0" scrolling="no"></iframe></div>
<table>
	<tbody>
		<tr class="padding">
			<td>日期/時間</td>
			<td>星期一</td>
			<td>星期二</td>
			<td>星期三</td>
			<td>星期四</td>
			<td>星期五</td>
		</tr>
		<tr>
			<td>8:20~9:10</td>	
			<td>歷史</td>
			<td>科學技術基礎</td>
			<td>體育</td>
			<td>班會</td>
			<td>英文</td>		
		</tr>
		<tr>
			<td>9:20~10:10</td>
			<td>健康與護理</td>
			<td>科學技術基礎</td>
			<td>體育</td>
			<td>文化基本教材</td>
			<td>英文</td>
		</tr>
		<tr>
			<td>10:20~11:10</td>
			<td>全民國防教育</td>
			<td>科學技術基礎</td>
			<td>數學</td>
			<td>英文</td>
			<td>國文</td>
		</tr>
		<tr>
			<td>11:20:12:10</td>
			<td>數學</td>
			<td>科學技術基礎</td>
			<td>生涯規劃</td>
			<td>英文</td>
			<td>國文</td>
		</tr>
		<tr>
			<td>13:00~14:00</td>
			<td>美術</td>
			<td>生物</td>
			<td>國文</td>
			<td>數學</td>
			<td>公民</td>	
		</tr>
		<tr>
			<td>14:00~15:00</td>
			<td>科學技術基礎</td>
			<td>生物</td>
			<td>國文</td>
			<td>數學</td>
			<td>生活科技</td>
		</tr>
		<tr>
			<td>15:00~16:00</td>
			<td>科學技術基礎</td>
			<td>數學</td>
			<td>英文</td>
			<td>地理</td>
			<td>生活科技</td>
		</tr>
		<tr>
			<td>16:00~17:00</td>
			<td></td>
			<td>數學</td>
			<td>英文</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div class="backtoindex"><a href="http://taivslove.herokuapp.com">按此回到首頁</a></div>
