
<div class="storytitle">我們的故事 綜高一愛-鍾宜秀</div>
<div class="story">是一場莊子與蝴蝶曖昧的情愁？ 今日如此，明日是如此。 說不定，是一夢黃梁？ 又也許今日與你相會之人，是命運安插的宿命？ 我相信緣分的存在與修成的羈絆。 輪迴是我對生命的信仰。 我有我自己的主張。 世世堆疊出的故事，為著下一世的劇本努力構思。 如似，燦笑於你之人，上輩子也燦發著光輝。 這一位與我在前世，是五四運動一同抗爭的同好。 那一位與我在前世，是中日戰爭相互扶持的同袍。 又一位與我，在更早之前，是船上拿著琵琶的落寞紅娘與懷才不遇的白居易。 你有無想過，身邊的人靠著無形的牽絆，互相牽引著？ 若羈絆有著札實的洋紅，那必定是一張鮮豔的蛛網，點綴著時光孕育的雨露，有的是華麗新織的赤絲，而有的則是舊故的赭索。 我與你，我們的故事早在相遇前就開始了。 多麼爛漫的霧色啊，這我亦蝴蝶般哲理的夢！ 我頹落的才筆，誰能了悟我夢中的真理呢？ 故事要從我來述文，我說不出口啊。 早在我思索變故之前就矗立在的命運軸列。 就如綜高一愛早被楊謹瑞展開的網頁，在還沒有內容就已站在網路一處巷口等待著命運之人的腳步。 隨著漸近的時刻，鐘聲一想，綜高一愛早繫緊的繩索，就開始牽引各位來到此處。 我們的存在，我們的故事。 你期待的是誰？做了什麼？迄今發生的事？ 我來告訴你。 我們是輪迴千年的旅人。 來自傳說裡的黃帝、倉頡、堯舜、夏禹。 來自美言裡的周公。 來自百家爭鳴的孔子、莊子、孟子、老子。 來自唐朝之治的李白、韓愈等等。 今日，我們是綜高一愛，大安的學門子弟。 完成這一世的相遇，只為準備下一世的到來。 這就是我獻與各位，關於我們的故事。<p><a href="http://taivslove.herokuapp.com">按此回首頁</a></p></div>
