<div class="photobackground"><a href="https://www.flickr.com/photos/118567846@N08/sets/72157641699333533/"><%= image_tag("photo.png") %></a></div>
<div class="phototype"><a href="https://www.flickr.com/photos/118567846@N08/sets/72157641699333533/">公民訓練</a></div>
<div class="photobackindex"><a href="http://taivslove.herokuapp.com">按此回首頁</a></div>